label{
	margin-bottom: .5rem;
	margin-top: 1rem;
	font-weight:bold;
	float:left;
}

a{
	margin-top: 7px;
}

input{
	margin-left: 5px !important;
	margin-right: 5px !important;
}

.App {
	text-align: left;
	padding: 1em;
	margin: 1em;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	margin-top: 30px;

	border: 2px solid #e7e7e7;
	border-radius: 10px;
}

.form{
	padding: 1.5em 1.8em;
}

.invalid-feedback, .valid-feedback{
	padding-left: 5px;
}

.btn-outline-primary.disabled{
	cursor:not-allowed;
}

.form-text{
	float:left;
	margin-left: 5px !important;
	margin-right: 5px !important;
}

.media-left img {
	border: 1px solid #ececec;
	max-width: 75px;
	float: left;
	margin: 0 1rem 0 0;
	padding-top: 4px;
	padding-bottom: 4px;
}

.resultContainer{
	padding: 1em 1.8em;
}

.resultBox{
	border-top: 1px solid #ddd;
	padding-top: 30px;
}

.list-group{
	margin-top:15px !important;
}

.list-group-item{
	padding: .5rem 0rem !important;
	border:0 !important;
}

.loadingSpinner{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.mapsContainer{
	height: 300px !important;
}

#toast-container>div{
	width: 100% !important;
}

@media (min-width: 1200px){
	.container {
		max-width: 1100px !important;
	}

	.navbar-light{
		padding: .5rem 5rem !important;
	}

}

@media (max-width: 1200px){
	button{
		margin-top:15px !important;
	}

	.App{
		border: none;
	}
}
